
.product-container{
    width: 90%;
    margin: 50px auto;
}

.product-content-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 50px auto;
    padding: 10px 50px;
}

.product-contents-description-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 250px;
}

.description-container{
    flex: 1;
}

.description-title{
    width: 120px;
    font-weight: 700;
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
}

.paragraph{
    font-size: 10px;
    color: rgb(176, 170, 170);
    font-weight: bold;
    margin: 10px 0;
}

.icon-container{
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.product-contents-product-side{
    flex: 6;
    height: 100px;
    padding:0 10px 0 50px;
}

.products-contents-products-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.each-product-container{
    width: 25%;
    margin-right: 20px;
}

.icon-style{
    width: 20px;
    height: 20px;
}

button{
    border: none;
    outline: none;
    background-color: transparent;
}

.buy-btn{
    width: 60px;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 155, 97);
    font-size: 12px;
    border-radius: 4px;
    padding: 3px 0;
}

.product-name{
    width: 200px;
    font-weight: 600;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    margin: 5px 0;
}

.product-price{
    font-weight: 600;
    font-size: 12px;
}

.star-container{
    display: flex;
    align-items: center;
}