

.search-outer-container{
    display: flex;
    align-items: center;
    width: 52%;
    margin: 10px auto;
}

.logo-container{
    color: rgb(8, 181, 158);
    flex: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold-high-text{
    font-weight: bold;
    font-size: 12px;
}

.light-low-text{
    font-size: 10px;
}

.search-input-container{
    flex: auto;
}

input{
    outline: none;
    border: none;
    background-color: transparent;
}

.search-input-container{
    display: flex;
    align-items: center;
}

.search-icon-container{
    /* position: absolute;
    left:36%;  */
    margin-left: 10px;
}

.input-contents-container{
    width: 180px;
    height: 24px;
    border: solid lightgrey 1px;
    font-size: 10px;
    padding-left:26px;
    margin-left: -20px;
    border-radius: 4px;
}

.icon-container{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.product-name{
    
}